# Tệp và thư mục được tạo bởi hệ điều hành
.DS_Store
Thumbs.db

# Thư mục chứa các gói phụ thuộc của Node.js
/node_modules
/frontend/node_modules

# File log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Thư mục build của Vite (frontend)
/frontend/dist

# File biến môi trường (CHỨA THÔNG TIN NHẠY CẢM)
/.env
/backend/.env

# Thư mục cấu hình của IDE
/.idea
/.vscode